*{
    margin: 0;
    padding: 0;
}
main{
    background-color: #8ec8ea;
    width: 100vw;
	height: 100vh;
    display: flex;
    justify-content: center;
	font-family: fantasy;
}
.timeContainer {
    background-color: rgb(230, 239, 248);
    width: 80vw;
    height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 10vh;
    border-radius: 0.5rem;
    gap: 20px;
}
.timer {
	font-size: 76px;
	display: flex;
	gap: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.5rem;
}
.timer:hover{
    background-color: rgb(213, 222, 231);;
}
.inputMinutes, .inputSecondes{
    font-family: fantasy;
    font-size: 76px;
    width: 80px;
    border: none;
}
.startPause {
    cursor: pointer;
	width: 100px;
	height: 30px;
    background-color: #ffcc66;
    box-shadow: 2px 2px 0 black;
}
.startPause:hover{
    background-color: #f0c368;
}
.startPause:active, .addToTimer:active, .removeToTimer:active{
    transform: translateY(1px);
}
.toTimer, .buttonSwitch{
    position: absolute;
}
.buttonSwitch{
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 30px;
}
.timerButton, .cycleButton{
    width: 100px;
    height: 40px;
    background-color: rgb(0, 130, 191);
    color: white;
    font-size: 16px;
    box-shadow: 2px 2px 0 black ;
    cursor: pointer;
}
.timerButton:hover, .cycleButton:hover{
    background-color: rgb(6, 122, 176);
}
.toTimer {
	display: flex;
	flex-direction: column;
    right: 20px;
    top: 35vh;
    gap: 30px;
}
.addToTimer, .removeToTimer{
    background-color: rgb(230, 239, 248);
    width: 50px;
    height: 30px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    cursor : pointer;
    box-shadow: 2px 2px 0 black ;
}
.addToTimer:hover, .removeToTimer:hover{
    background-color: rgb(209, 225, 240);
}
